* {
  /* font-family: "Pretendard"; */
  font-family: "Inter";
  transition: all 150ms;
}

::selection {
  color: white;
  background-color: black;
}

:root {
  --BLACK: #000000;

  height: 100%;
  color: var(--BLACK);

  cursor: url("../res/svgs/cursor.svg"), auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  font-weight: 800;
  font-size: 1.75rem;
  margin: 1rem 0 2rem 0;
}

li {
  list-style-type: none;
}

.indexs-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .index {
    height: 4rem;
    width: 1.25rem;

    background-color: black;
    cursor: url("../res/svgs/pointer.svg") 13 6, pointer;

    & span {
      position: absolute;
      translate: 0 calc(32px - 50%);
      width: auto;
      white-space: nowrap;
      text-align: center;
      /* background-color: black; */
      color: black;
      border-radius: 2rem;
      font-family: "Inter";
      font-weight: 700;
      z-index: -1;
    }
  }
}

.left-side {
  left: -1.5rem;
  top: 1rem;

  & .index {
    border-radius: 1rem 0 0 1rem;
    
    & span {
      right: -120px;
    }
  }
}

.left-side .index:hover {
  width: 2.25rem;
  /* margin-left: -1rem; */
  margin-left: -1rem;
  /* background-color: #f89113; */
  cursor: url("../res/svgs/pointer.svg");

  & span {
    right: 48px;
    opacity: 1;
  }
}

.main-container {
  position: relative;
  width: 600px;
  padding: 1rem 1.25rem;
  
  border: 4px solid var(--BLACK);
  border-radius: 1rem;

  background-color: white;
  box-shadow: 0 0.5rem 0 black;
}

.command-list {
  user-select: none;
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  
  & button {
    /* height: auto; */
    white-space: nowrap;
    padding: 0.75rem 1rem;
    font-weight: 900;
    text-align: center;
    background-color: white;
    color: black;
    transition: border-radius 150ms;
    border-radius: 2rem;
    /* width: 100px; */
    border: 0;
    font-size: 1rem;
    cursor: url("../res/svgs/pointer.svg"), pointer;
    
    &:hover {
      background-color: black;
      color: white;
      border: 0rem;
      border-radius: 0.25rem;
    }
  }
}

canvas {
  width: 100%;
}

.canvas {
  width: 600px;
  height: 320px;
  margin: 1rem 0;
  /* overflow: hidden; */
}

.stack-canvas {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
  & > * {
    margin-top: -48px;
    z-index: 1;
  }

  & .stack-container {
    position: relative;

    & .key {
      position: absolute;
      font-family: Inter;
      font-weight: 900;
      left: 50%;
      translate: -50% 0;
      bottom: 14px;
    }
  }
}