* {
  font-family: "Inter";
  transition: all 150ms;
  overflow: visible;
  user-select: none;
}

::selection {
  color: white;
  background-color: black;
}

:root {
  --BLACK: #000000;

  height: 100%;
  color: var(--BLACK);

  cursor: url("../res/svgs/cursor.svg"), auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  
  width: 100%;
  height: 100%;
  margin: 0;

  overflow: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  font-weight: 800;
  font-size: 1.75rem;
  margin: 1rem 0 3rem 0;
}

li {
  list-style-type: none;
}

.indexs-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .index {
    height: 4rem;
    width: 1.25rem;

    background-color: black;
    cursor: url("../res/svgs/pointer.svg") 13 6, pointer;

    & span {
      position: absolute;
      translate: 0 calc(32px - 50%);
      width: auto;
      white-space: nowrap;
      text-align: center;
      /* background-color: black; */
      color: black;
      border-radius: 2rem;
      font-family: "Inter";
      font-weight: 700;
      z-index: -1;
    }
  }
}

.left-side {
  left: -1.5rem;
  top: 1rem;

  & .index {
    border-radius: 1rem 0 0 1rem;
    
    & span {
      right: -200px;
    }
  }
}

.left-side .index:hover, .left-side .index.active {
  width: 2.25rem;
  /* margin-left: -1rem; */
  margin-left: -1rem;
  /* background-color: #f89113; */
  cursor: url("../res/svgs/pointer.svg");

  & span {
    right: 48px;
    opacity: 1;
  }
}

.right-side {
  right: -1.5rem;
  top: 1rem;

  & .index {
    border-radius: 0 1rem 1rem 0;
    
    & span {
      left: -200px;
    }
  }
}

.right-side .index:hover, .right-side .index.active {
  width: 2.25rem;
  /* margin-left: -1rem; */
  margin-right: -1rem;
  /* background-color: #f89113; */
  cursor: url("../res/svgs/pointer.svg");

  & span {
    left: 48px;
    opacity: 1;
  }
}

.main-container {
  position: relative;
  width: 600px;
  padding: 1rem 1.25rem;
  
  border: 4px solid var(--BLACK);
  border-radius: 1rem;

  background-color: white;
  box-shadow: 0 0.5rem 0 black;
}

.command-list {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  
  & button {
    /* height: auto; */
    white-space: nowrap;
    padding: 0.75rem 1rem;
    font-weight: 900;
    text-align: center;
    background-color: white;
    color: black;
    transition: border-radius 150ms;
    border-radius: 2rem;
    /* width: 100px; */
    border: 0;
    font-size: 1rem;
    cursor: url("../res/svgs/pointer.svg"), pointer;
    
    &:hover {
      background-color: black;
      color: white;
      border: 0rem;
      border-radius: 0.25rem;
    }
  }
}

.back-canvas {
  position: absolute;
  width: 600px;
  height: 400px;
}

.canvas {
  width: 600px;
  height: 400px;
  margin: 1rem 0;
  /* overflow: hidden; */
}

.stack-canvas {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
  & > * {
    margin-top: -48px;
  }

  & .stack-container {
    position: relative;

    & .key {
      position: absolute;
      font-family: Inter;
      font-weight: 900;
      left: 50%;
      translate: -50% 0;
      bottom: 14px;
    }
  }
}

.queue-canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  & .queue_nodes-container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }

  & .none-node {
    width: 60px;
    height: 60px;
  }

  & .queue-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .key {
      position: absolute;
      font-family: Inter;
      font-weight: 900;
      font-size: 1.5rem;
    }
  }
}

.list-canvas {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 0;
  align-content: center;

  & .list-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;

    & .key {
      position: absolute;
      margin-right: 2.5rem;
      font-family: Inter;
      font-weight: 900;
      font-size: 1.5rem;
    }

  }

  & .null-pointer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    width: 80px;
    height: 60px;
    margin: 0 22px 0 0;
    border: 4px dotted black;
    border-radius: 8px;

    & span {
      font-family: consolas;
      font-weight: 900;
      font-size: 1.5rem;
    }
  }
}

.tbt-canvas {
  position: relative;

  display: flex;
  flex-direction: column;
  align-content: center;

  gap: 2rem 0;

  height: 400px;
  transition: all 250ms;

  & .level-nodes-container {
    position: relative;
    display: flex;
    justify-content: space-around;

    & .node-container {
      display: flex;
      justify-content: center;
      align-items: center;

      & .key {
        position: absolute;
        font-family: Inter;
        font-weight: 900;
        font-size: 1.5rem;
      }
    }

    & .none-node {
      width: 64px;
      height: 64px;
    }
  }
}